<a href="https://colab.research.google.com/github/fxmike/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

In [ ]:
apple = data('AAPL')
amazon = data('AMZN')
google = data('GOOGL')
uber = data('UBER')

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 511 entries, 2021-05-19 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    511 non-null    float64
 1   High    511 non-null    float64
 2   Low     511 non-null    float64
 3   Close   511 non-null    float64
 4   Volume  511 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 24.0 KB

In [ ]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [ ]:
df = pd.concat([apple, amazon, google, uber], axis=1)

In [ ]:
pd.set_option('display.float.format', lambda x: f'{x:.2f}')

df.describe().T

                count         mean  ...          75%          max
apple_open    1257.00        58.51  ...        70.49       143.39
apple_high    1257.00        59.15  ...        71.51       144.87
apple_low     1257.00        57.88  ...        69.77       141.16
apple_close   1257.00        58.54  ...        71.21       142.95
apple_volume  1257.00 129925254.25  ... 150309366.00 466389604.00
amazon_open   1257.00      1757.88  ...      1996.51      3547.00
amazon_high   1257.00      1776.10  ...      2008.76      3554.00
amazon_low    1257.00      1737.06  ...      1965.87      3486.68
amazon_close  1257.00      1757.07  ...      1992.03      3531.45
amazon_volume 1257.00   4250850.83  ...   5103803.00  16552598.00
google_open   1257.00      1200.99  ...      1346.55      2392.50
google_high   1257.00      1212.87  ...      1357.37      2431.38
google_low    1257.00      1189.46  ...      1334.00      2373.85
google_close  1257.00      1201.64  ...      1344.43      2392.76
google_volume 1257.00   1734162.25  ...   1981594.00   6658855.00
uber_open      511.00        39.22  ...        46.31        63.25
uber_high      511.00        40.01  ...        47.50        64.05
uber_low       511.00        38.32  ...        45.06        60.80
uber_close     511.00        39.18  ...        46.30        63.18
uber_volume    511.00  23724119.05  ...  29349962.50 186322536.00

[20 rows x 8 columns]

In [ ]:
df.corr()

               apple_open  apple_high  ...  uber_close  uber_volume
apple_open           1.00        1.00  ...        0.61        -0.03
apple_high           1.00        1.00  ...        0.61        -0.03
apple_low            1.00        1.00  ...        0.62        -0.04
apple_close          1.00        1.00  ...        0.61        -0.03
apple_volume        -0.00        0.01  ...       -0.40         0.35
amazon_open          0.95        0.95  ...        0.56        -0.09
amazon_high          0.95        0.95  ...        0.56        -0.09
amazon_low           0.96        0.96  ...        0.57        -0.10
amazon_close         0.95        0.95  ...        0.56        -0.09
amazon_volume        0.06        0.06  ...       -0.25         0.28
google_open          0.95        0.94  ...        0.74        -0.05
google_high          0.95        0.95  ...        0.74        -0.04
google_low           0.94        0.94  ...        0.75        -0.06
google_close         0.95        0.94  ...        0.74        -0.05
google_volume        0.06        0.06  ...       -0.18         0.32
uber_open            0.61        0.60  ...        0.99        -0.22
uber_high            0.61        0.61  ...        1.00        -0.19
uber_low             0.61        0.60  ...        1.00        -0.23
uber_close           0.61        0.61  ...        1.00        -0.21
uber_volume         -0.03       -0.03  ...       -0.21         1.00

[20 rows x 20 columns]

In [ ]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]

In [ ]:
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [ ]:
df[closes].corr()

               apple_close  apple_volume  ...  uber_close  uber_volume
apple_close           1.00         -0.00  ...        0.61        -0.03
apple_volume         -0.00          1.00  ...       -0.40         0.35
amazon_close          0.95          0.02  ...        0.56        -0.09
amazon_volume         0.05          0.49  ...       -0.25         0.28
google_close          0.95         -0.07  ...        0.74        -0.05
google_volume         0.06          0.46  ...       -0.18         0.32
uber_close            0.61         -0.40  ...        1.00        -0.21
uber_volume          -0.03          0.35  ...       -0.21         1.00

[8 rows x 8 columns]

In [ ]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-05-19      47.53      49.83     47.37       49.47     16517476
2021-05-18      49.67      50.29     48.52       49.17     28244446
2021-05-17      47.24      47.94     46.51       47.51     17475275
2021-05-14      45.03      47.71     44.85       47.42     25323284
2021-05-13      44.99      46.10     43.56       44.48     36205110

In [ ]:
uber_6 = uber[uber.index.month == 6]
uber_7 = uber[uber.index.month == 7]

In [ ]:
uber67 = uber_6.append(uber_7)

In [ ]:
uber67.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229